.timeline {
    position: relative;
	top: 10px;
	left: 20px;
	width: 704px;
	height: 120px;
	padding: 10px 12px;
    background: #fbfbfb;
	border-radius: 14px;
    font-size: 18px;
    box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.07);
    box-sizing: border-box;
}
